
@media screen and (max-width:430px) {
    .container {
        min-height: 100vh;
    }
    .topmenu-bar .side-btn .connect{
        margin-left: 270px;
        font-size: 13px;
        display: flex;
    }
    .container .bottom-menu-bar{
        bottom: 0;
        padding: 1rem 0rem;
        height: 60px;
        position: fixed;
    }
    .main-contain .primary-contain .my-picture{
        /* width: 300px; */
        height: 100vh;
    }
}